//====================================================================================================
.header {
	
}
//====================================================================================================

// Стиль иконки бургера
.icon-menu {
 display: none;
 position: absolute;
 top: 22px;
 right: 10px;
 width: 30px;
 height: 18px;
 cursor: pointer;
 z-index: 5; }
.icon-menu span {
 -webkit-transition: all 0.3s ease 0s;
 -moz-transition: all 0.3s ease 0s;
 -ms-transition: all 0.3s ease 0s;
 -o-transition: all 0.3s ease 0s;
 transition: all 0.3s ease 0s;
 top: 8px;
 left: 0px;
 position: absolute;
 width: 100%;
 height: 2px;
 background-color: #fe9d2b; }
.icon-menu span:first-child {
 top: 0px; }
.icon-menu span:last-child {
 top: auto;
 bottom: 0px; }
.icon-menu.active span {
 -moz-transform: scale(0);
 -ms-transform: scale(0);
 -webkit-transform: scale(0);
 -o-transform: scale(0);
 transform: scale(0); }
.icon-menu.active span:first-child {
-moz-transform: rotate(-45deg);
 -ms-transform: rotate(-45deg);
 -webkit-transform: rotate(-45deg);
 -o-transform: rotate(-45deg);
 transform: rotate(-45deg);
 top: 8px; }
.icon-menu.active span:last-child {
 -moz-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 -webkit-transform: rotate(45deg);
 -o-transform: rotate(45deg);
 transform: rotate(45deg);
 bottom: 8px; }

.menu__body {
 position: fixed;
 z-index: 50000;
 background: rgba(0, 0, 0, 0.8);
 top: 0;
 width: 50%;
 height: 100%;
 padding: 35px 10px 0px 20px;
 margin-top: 62px;
 overflow: auto;
 right: -50%;
 -webkit-transition: right 0.5s;
 -o-transition: right 0.5s;
 transition: right 0.5s; }
.menu__body.active {
 right: 0%; }



// Старое меню
	// .menu__body.active {
	// display: block;
	// position: fixed;
	// z-index: 50000;
	// background: rgba(0,0,0,0.9);
	// // opacity: 0.95;
	// left: 0;
	// top: 0;
	// width: 100%;
	// height: 100%;
	// padding: 15px 20px 35px 10px;
	// margin-top: 55px;
	// overflow: auto;
 //  transition: all 0.35s;
	// }


